



body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    height: 100%;
    background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
    overflow: visible;
    filter: drop-shadow(0 0 10px white);
  }
  