footer { 
    display:flex;
    flex-direction: column;
    background-color: #901d1d;
    color: #fff;
    padding: 15px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.5;
      
}

footer ul{
    list-style-type: none;
    margin-right: 40px
}
