
#recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    color: #fff;
  }
  
  #recipes div{
    text-align: center;
  }
  